# .github/workflows/preview.yml
name: Deploy PR previews
concurrency: preview-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write
  deployments: write

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    branches: [main]
jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    environment:
      name: Preview-${{ github.event.number }}
      url: https://theluckyman30.github.io/test-devops/pr-preview/pr-${{ github.event.number }}
    steps:
      - uses: actions/checkout@v4
      - run: npm i && npm run build
        env:
          BASE_TYPE: 1
          PR_NUMBER: ${{ github.event.number }}
        if: github.event.action != 'closed'
      - uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./dist
          preview-branch: gh-pages
          umbrella-dir: pr-preview
          action: auto
      - name: Delete deployments for this PR
        if: github.event.action == 'closed'
        run: |
          echo "Deleting deployments for PR ${{ github.event.number }} inside environment 'preview'"

          # Get all deployments for this environment
          DEPLOYMENTS=$(gh api repos/${{ github.repository }}/deployments \
            --jq "[.[] | select(.environment == \"preview\")]")

          # Filter deployments by PR number in payload/URL
          for ID in $(echo "$DEPLOYMENTS" | jq -r "map(select(.payload.pull_request.number == ${{ github.event.number }})) | .[].id"); do
            echo "Deleting deployment $ID"
            gh api repos/${{ github.repository }}/deployments/$ID -X DELETE
          done
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
