# .github/workflows/preview.yml
name: Deploy PR previews
concurrency: preview-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write
  deployments: write

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    environment:
      name: Preview-${{ github.event.number }}
      url: https://theluckyman30.github.io/test-devops/pr-preview/pr-${{ github.event.number }}
    steps:
      - uses: actions/checkout@v4
      - run: npm i && npm run build
        env:
          BASE_TYPE: 1
          PR_NUMBER: ${{ github.event.number }}
        if: github.event.action != 'closed'
      - uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./dist
          preview-branch: gh-pages
          umbrella-dir: pr-preview
          action: auto
      - name: Delete environment for this PR
        if: github.event.action == 'closed'
        run: |
          ENV_NAME="pr-preview-${{ github.event.number }}"
          echo "Deleting environment: $ENV_NAME"

          # Call the GitHub API to delete the environment
          curl -L \
            -X DELETE \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository }}/environments/$ENV_NAME
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
