# .github/workflows/preview.yml
name: Deploy PR previews
concurrency: preview-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    environment:
      name: Preview-${{ github.event.number }}
      url: https://theluckyman30.github.io/test-devops/pr-preview/pr-${{ github.event.number }}
    steps:
      - uses: actions/checkout@v4
      - run: npm i && npm run build
        env:
          BASE_TYPE: 1
          PR_NUMBER: ${{ github.event.number }}
        if: github.event.action != 'closed'
      - uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./dist
          preview-branch: gh-pages
          umbrella-dir: pr-preview
          action: auto
