# .github/workflows/deploy.yml
name: Deploy Production
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    environment:
      name: Production
      url: https://theluckyman30.github.io/test-devops/
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install & Build
        run: npm ci && npm run build
        env:
          BASE_TYPE: 0

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./dist
          branch: gh-pages
          clean-exclude: pr-preview
          force: false
