# .github/workflows/preview.yml
name: Deploy PR Previews
concurrency: preview-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write
  deployments: write

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    branches: [main]
jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    environment:
      name: Preview
      url: https://theluckyman30.github.io/test-devops/pr-preview/pr-${{ github.event.number }}
    steps:
      - name: Checkout
        if: github.event.action != 'closed'
        uses: actions/checkout@v4

      - name: Install & Build
        if: github.event.action != 'closed'
        run: npm ci && npm run build
        env:
          BASE_TYPE: 1
          PR_NUMBER: ${{ github.event.number }}

      - name: Deploy
        if: github.event.action != 'closed'
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./dist
          preview-branch: gh-pages
          umbrella-dir: pr-preview
          action: auto

      - name: Delete Deployments for this PR
        if: github.event.action == 'closed'
        run: |
          echo "Deleting deployments for PR ${{ github.event.number }} inside environment 'Preview'"

          # Get all deployments for this environment
          DEPLOYMENTS=$(gh api repos/${{ github.repository }}/deployments \
            --jq "[.[] | select(.environment == \"Preview\")]")

          # Filter deployments by PR number in payload/URL
          for ID in $(echo "$DEPLOYMENTS" | jq -r "map(select(.payload.pull_request.number == ${{ github.event.number }})) | .[].id"); do
            echo "Deleting deployment $ID"
            gh api repos/${{ github.repository }}/deployments/$ID -X DELETE
          done
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
